<h1>{{#if jogo}}Atualizar Jogo{{else}}Cadastrar Jogo{{/if}}</h1>
<form action="{{#if jogo}}/jogos/{{jogo.id}}/update{{else}}/jogos/novo{{/if}}" method="post">
  <div>
    <label for="titulo">Título</label>
    <input type="text" id="titulo" name="titulo" value="{{jogo.titulo}}" />
  </div>
  <div>
    <label for="descricao">Descrição</label>
    <input type="text" id="descricao" name="descricao" value="{{jogo.descricao}}" />
  </div>
  <div>
    <label for="precobase">Preço Base</label>
    <input type="number" id="precobase" name="precobase" value="{{jogo.precobase}}" />
  </div>
  <input type="submit" value="{{#if jogo}}Salvar{{else}}Cadastrar{{/if}}" />
</form>