<div class="container">
  <div class="form-container">
    <h2 class="form-title">{{#if usuario}}Editar Usuário{{else}}Cadastro de Usuário{{/if}}</h2>
    <form action="{{#if usuario}}/usuarios/{{usuario.id}}/update{{else}}/usuarios/novo{{/if}}" method="post">
      <div class="mb-3">
        <label for="nickname" class="form-label">Nickname:</label>
        <input type="text" id="nickname" name="nickname" class="form-control" value="{{usuario.nickname}}" />
      </div>
      <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" id="nome" name="nome" class="form-control" value="{{usuario.nome}}" />
      </div>
      <button type="submit" class="btn btn-primary btn-submit">{{#if usuario}}Atualizar{{else}}Cadastrar{{/if}} Usuário</button>
    </form>
  </div>
</div>
