<h1>Usuários Cadastrados</h1>

<a href="/usuarios/novo" class="btn btn-primary mb-3">Cadastrar Novo Usuário</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nickname</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each usuarios}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.nickname}}</td>
        <td>{{this.nome}}</td>
        <td>
          <a href="/usuarios/{{this.id}}/update" class="btn btn-warning btn-sm">Atualizar</a>
          <form action="/usuarios/{{this.id}}/delete" method="post" class="d-inline">
            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
          </form>
          <a href="/usuarios/{{this.id}}/cartoes" class="btn btn-info btn-sm">Ver Cartões</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
